body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1875;
    padding: 10px;
    color: #000;
}
#navigation {
    display: inline-block;
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navigation ul li {
    float: left;
}
#navigation ul li a {
    display: block;
    text-align: center;
    background: linear-gradient(to bottom, #fdfdfd 0%, #d4dced 100%);
    color: #000;
    padding: 6px 10px;
    margin: 2px;
    text-decoration: none;
    border: 1px solid #285c8c;
}
#navigation ul li a:hover, #navigation ul li a.active {
    background: linear-gradient(to bottom, #3176b1 0%, #285c8c 100%);
    color: #FFF;
}
#date {
    text-align: right;
    padding: 20px;
}
#content {
    padding: 10px;
    padding-left: 50px;
    width: 700px;
}

#index #building {
    position: absolute;
    left: 100px;
}
#index #butterflies {
    position: absolute;
    left: 400px;
}
#index #title {
    color: #32cd32;
    font-weight: bold;
    font-size: 21px;
    padding: 10px;
}
#index #subtitle {
    color: #dc143c;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
}
#index #contact {
    margin-top: 30px;
    margin-left: 120px;
}
#index #contact a {
    color: #000;
    text-decoration: none;
}
#vrienden-van-de-vlinder p {
    font-size: 12px;
}
#vrienden-van-de-vlinder table tr td {
    padding: 0 60px 5px 0;
    font-weight: bold;
}