body {
    font-family: Arial, sans-serif;
    padding: 10px;
    color: #000;
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navigation ul li {
    float: left;
}
#navigation ul li a {
    display: block;
    text-align: center;
    background: linear-gradient(to bottom, #fdfdfd 0%, #d4dced 100%);
    color: #000;
    padding: 6px 10px;
    margin: 2px;
    text-decoration: none;
    border: 1px solid #285c8c;
}
#navigation ul li a:hover, #navigation ul li a.active {
    background: linear-gradient(to bottom, #3176b1 0%, #285c8c 100%);
    color: #FFF;
}
#content {
    padding: 20px;
}