{% extends 'base.html.twig' %}

{% import _self as macros %}

{% block content %}

    {{ macros.title('Woonvorm De Vlinder 15 Jaar') }}

    <p>Ze hadden het graag wat uitbundiger gevierd, maar door corona was dat niet mogelijk.
        Toch hebben de vijf bewoners van De Vlinder in de Kapelstraat in Prinsenbeek het derde
        lustrum van hun woonvorm niet ongemerkt voorbij laten gaan. Claudia, Inge, John, Kurt
        en Marloes hebben onlangs samen een buffet georganiseerd.</p>

    <img src="/images/15_jaar_de_vlinder_1.jpg" />

    <p>En als het mogelijk is willen ze het in september met een barbecue nogmaals vieren met
        familieleden, verzorgers en betrokkenen. Want het vijftienjarig jubileum van de geslaagde,
        kleinschalige woonvorm is zeker een feestje waard. "Wat we toentertijd voor ogen hadden,
        is goed gelukt", stelt bestuurslid en initiatiefnemer Henny Boot tevreden vast.</p>

    <p>Stichting Woonvorm ‘De Vlinder’ is medio 2005 opgericht door vijf ouderparen uit Prinsenbeek.
        Ze beheert het toen nieuw gebouwde, kleinschalige wooncomplex met vijf appartementen, waar
        bewoners met een verstandelijke beperking zelfstandig wonen. Claudia, John en Kurt zelfs al
        vanaf het begin. Stichting Prisma zorgt voor de begeleiding. Behalve eigen voorzieningen
        hebben de bewoners een gezamenlijke huiskamer en binnentuin, die ze ook zelf onderhouden.</p>

    <img src="/images/15_jaar_de_vlinder_2.jpg" />

    <p>Allemaal hebben ze een baan; Claudia en Marloes werken bij een brasserie, Inge en John bij
        een tuincentrum en Kurt bij een supermarkt. En ook veel hobby’s, variërend van zwemmen,
        toneel, tekenen, darten en biljarten tot fietsen en wandelen. Het afgelopen jaar kregen ook
        zij door corona de nodige beperkingen opgelegd in het dagelijks leven. Er konden geen
        uitstapjes worden gemaakt. Maar er werden nog wél gezellige momenten gecreëerd. Zo was er
        een picknick in de eigen tuin, een paasbrunch en een high tea met carnaval. Toch hopen ze
        snel weer naar De Efteling te kunnen, zoals al jaren traditie is.</p>

    <p><strong>Midden in de Beekse samenleving</strong><br />
        Doordat de vijf in het centrum van het dorp wonen, hebben zij een plaats gevonden in de lokale
        samenleving, aldus het stichtingsbestuur. Voorzieningen zijn op loopafstand en de sociale
        contacten vinden plaats om de hoek en net buiten de deur. Zo hebben de bewoners van De Vlinder
        zich op een zo natuurlijk mogelijke manier geïntegreerd in de Beekse samenleving.</p>

    <img src="/images/15_jaar_de_vlinder_3.jpg" />

    <p><strong>Kleinschaligheid</strong><br />
        Het unieke aan Woonvorm De Vlinder is volgens het bestuur de kleinschaligheid. En door solidair
        alle individuele zorguren samen te voegen in een zorgbudget is de zorg hier vergelijkbaar met
        thuiszorg. Waarbij wel nadrukkelijk wordt gekeken naar de individuele zorgbehoefte.</p>

    <p>Het bestuur ziet tevreden terug op vijftien jaar De Vlinder, maar kijkt ook vooruit. Een van de
        doelstellingen van het bestuur is de huren voor de bewoners zo betaalbaar mogelijk te houden.
        "Dat dit nog steeds lukt, is ook in grote mate te danken aan de jaarlijkse bijdragen van onze
        sponsoren en vrienden van De Vlinder."</p>

    <p>Om dit ook voor de toekomst zo te houden, is het bestuur altijd weer op zoek naar nieuwe sponsoren
        en vrienden van De Vlinder.</p>

{% endblock %}
