{% extends 'base.html.twig' %}

{% block content %}

    <br />
    <p>De stichting is in juni 2005 opgericht door vijf ouderparen uit Prinsenbeek en draagt de naam<br />
        <strong>"STICHTING WOONVORM DE VLINDER"</strong>.</p>
    <p>De stichting beheert "De Vlinder", een kleinschalig wooncomplex met vijf appartementen aan de Kapelstraat in <strong>Prinsenbeek</strong>, gemeente Breda.</p>
    <p>Deze appartementen worden momenteel -onder begeleiding- zelfstandig bewoond door vijf mensen met een verstandelijke beperking.</p>
    <p><strong>De huidige bewoners zijn:</strong></p>
    <p><img src="/images/bewoners.jpg" width="700px" /></p>

{% endblock %}
