{% extends 'base.html.twig' %}

{% import _self as macros %}

{% block content %}

    {{ macros.title('Fondsen') }}

    <div id="logos">
        <img src="/images/fondsen.jpg" />
    </div>

    <p>Woonvorm "De Vlinder" werd mede mogelijk gemaakt door:</p>

    <h2>Stichting Nuts Ohra</h2>
    <p>Stichting Nuts Ohra is voortgekomen uit de verzekeraars Nuts en Ohra, die beide
        een lange traditie hebben in de verzekering van zorg. De stichting steunt met
        de jaarlijkse inkomsten uit haar aandelenvermogen projecten in de gezondheidszorg
        in brede zin. De voorkeur gaar daarbij uit naar projecten die een bijdrage leveren
        aan innovaties en naar projecten die noden helpen verminderen.</p>

    <h2>Oranje Fonds</h2>
    <p>Het Oranje Fonds staat voor een samenleving waarin het goed samen leven is en waarin
        mensen tot hun recht komen. Met haar bijdragen wil het fonds de integratie, participatie
        en sociale veiligheid versterken en sociale uitsluiting verminderen binnen het
        Koninkrijk der Nederlanden.</p>

    <h2>Fonds Verstandelijk Gehandicapten</h2>

    <h3>Overige fondsen</h3>
    Charitatief Fonds De Grez-Mahie<br/>
    Olga Heldring Fonds - Fundatie van den Santheuvel<br/>
    Oranje Comité Prinsenbeek<br/>
    Stichting Madurodam<br/>
    Steunfonds Stichting Voorzorg Utrecht<br/>
    Stichting Anton Jurgens Fonds 1969<br/>

{% endblock %}
