{% extends 'base.html.twig' %}

{% block content %}

    <div id="butterflies">
        <img src="/images/watermerk.jpg" width="400" />
        <div id="contact">
            Wilt u meer informatie over de Vlinder?<br />
            Zie <strong>Contactgegevens</strong> op tabblad <strong><a href="/algemene-gegevens">Algemene gegevens</a></strong><br />
            <br />
            Of stuur een e-mail naar<br />
            <strong><a href="mailto:info@woonvormdevlinderprinsenbeek.nl">info@woonvormdevlinderprinsenbeek.nl</a></strong>
        </div>
    </div>

    <div id="building">
        <img src="/images/gebouw.jpg" width="400" /><br />
        <div id="info">Stichting woonvorm "De Vlinder"</div>
        <div id="extra-info">Stichting woonvorm "De Vlinder" heeft een ANBI-status</div>
    </div>

{% endblock %}
