{% extends 'base.html.twig' %}

{% import _self as macros %}

{% block content %}

    {{ macros.title('Nieuwe onderwerpen') }}

    <p>Op deze pagina worden nieuwsfeiten gepubliceerd.<br />
        Deze kunnen velerlei zijn.<br />
        Van artikelen van belang voor Stichting Woonvorm De Vlinder tot stukjes ingezonden door
        bewoners, ouders, vrienden van de Vlinder, enz.</p>

    <p>We hopen hiermee de website wat actueler te maken.</p>

    <small>Inge Wildhagen stuurde onderstaand verslagje in.</small>

    <h2>Varen op de Biesbosch</h2>
    <p>We begonnen deze dag met koffie met een appelflap die Joke had meegebracht.<br />
        Daarna wachten we op de taxi om naar de mensen te gaan die ons een mooie dag gaan bezorgen. Vervolgens met z’n allen naar de opstapplaats van de boot.<br />
        Het was een warme dag dus ideaal weer om te varen.<br />
        We hebben allemaal genoten van de rust op het water en het mooie weer.<br />
        Onderweg zijn we bij het Biesbosch museum gestopt om te lunchen en wat hebben we heerlijk gegeten.<br />
        Op de boot kwamen we ook door de gastvrouw niets te kort, ‘s morgens koffie met een koek en<br />
        ‘s middags wat fris met een ruime keuze aan chips.<br />
        Daarna verder gevaren en langzaam weer richting de aanlegplaats van de boot.<br />
        Echt een mooie dag om op terug te kijken.<br />
        <br />
        Groetjes,<br />
        Inge</p>

    <img src="/images/biesbosch.jpg" width="715" /><br />
    <br />

    <hr />

    <h2>Helene van Boxel</h2>
    <p>Graag wil ik mezelf voorstellen.<br />
        Ik ben Helene van Boxel, 50 jaar jong,  getrouwd met Frans en wij hebben 2 kinderen.<br />
        Ik ben kapster van beroep en heb jaren in een kapsalon en in een kappersgroothandel gewerkt.<br />
        Het was tijd voor verandering.<br />
        <br />
        Ik wilde graag iets betekenen voor mensen met een beperking.<br />
        Zo ben ik als huishoudelijk medewerkster terecht gekomen bij De Vlinder.<br />
        Ik werk op De Vlinder 4 uurtjes per week.<br />
        Het is een woonvorm met 5 bewoners.<br />
        Bij 3 van hen geef ik ondersteuning bij het schoonmaken van hun appartement.<br />
        De bewoners poetsen gezellig mee!!!<br />
        We maken een praatje tussendoor, de ene bewoner zet gezellig een muziekje aan terwijl we het bed verschonen, of de badkamer of woon/slaapkamer poetsen.<br />
        Ik vind dit werk zo leuk om te doen, omdat je direct contact met de bewoner hebt en er veel voldoening uit haalt.<br />
        Je maakt elkaar iedere keer weer blij en ik ga met een heel fijn gevoel naar huis.<br />
        <br />
        Ook ben ik nog 8 uur op locatie Prisma Dr. Kuyperstraat werkzaam.<br />
        Ook daar haal ik erg veel voldoening uit mijn werk.<br />
        Het is een heel andere doelgroep waar niet iedere bewoner mee kan helpen met het poetsen i.v.m. de beperking die hij/zij heeft.<br />
        Ik word zeer gewaardeerd door de bewoners en collega’s op beide locaties en dat is erg fijn.<br />
        Ik hoop nog erg lang iets te kunnen betekenen voor deze bewoners, in welke vorm dan ook.<br />
        <br />
        Groetjes, Helene</p>

{% endblock %}
