---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout title="Home">
  <Navigation />

  <div id="content">
    <div id="butterflies">
      <img src="/images/watermerk.jpg" alt="Vlinders watermerk" width="400" />
      <div id="contact">
        Wilt u meer informatie over de Vlinder?<br />
        Zie <strong>Contactgegevens</strong> op tabblad <strong><a href="/algemene-gegevens">Algemene gegevens</a></strong><br />
        <br />
        Of stuur een e-mail naar<br />
        <strong><a href="mailto:info@woonvormdevlinderprinsenbeek.nl">info@woonvormdevlinderprinsenbeek.nl</a></strong>
      </div>
    </div>

    <div id="building">
      <img src="/images/gebouw.jpg" alt="Gebouw De Vlinder" width="400" /><br />
      <div id="info">Stichting woonvorm "De Vlinder"</div>
      <div id="extra-info">Stichting woonvorm "De Vlinder" heeft een ANBI-status</div>
    </div>
  </div>
</Layout>

<style>
  #content {
    padding: 10px;
    width: 100%;
    max-width: 950px;
    position: relative;
    min-height: 500px;
  }

  #building {
    position: absolute;
    left: 50px;
    top: 0;
  }

  #butterflies {
    position: absolute;
    left: 350px;
    top: 0;
  }

  #info {
    color: #32cd32;
    font-weight: bold;
    font-size: 21px;
    padding: 10px;
  }

  #extra-info {
    color: #dc143c;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
  }

  #contact {
    margin-top: 30px;
    margin-left: 120px;
    line-height: 1.5;
  }

  #contact a {
    color: #000;
    text-decoration: none;
  }

  #contact a:hover {
    text-decoration: underline;
  }

  /* Responsive design */
  @media (max-width: 768px) {
    #content {
      min-height: auto;
    }

    #building,
    #butterflies {
      position: static;
      margin-bottom: 30px;
      text-align: center;
    }

    #contact {
      margin-left: 0;
      text-align: center;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
</style>
