<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <script type="module" src="/scripts/app.js"></script>
        <title>{{ currentRoute.title }} - Woonvorm De Vlinder Prinsenbeek</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="view-transition" content="same-origin">
        <link rel="stylesheet" href="/styles/app.css">
    </head>
    <body id="{{ currentRoute.template }}">
        <div id="navigation">
            <ul>
                {% for path, route in routing %}
                    <li><a href="{{ path }}"{% if route.title == currentRoute.title %} class="active"{% endif %}>{{ route.title }}</a></li>
                {% endfor %}
            </ul>
            <div id="date" data-controller="date"></div>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
