<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <script type="module" src="/scripts/app.js"></script>
        <title>Woonvorm De Vlinder Prinsenbeek - {{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="view-transition" content="same-origin">
        <link rel="stylesheet" href="/styles/app.css">
    </head>
    <body>
        <div id="navigation">
            <ul>
                {% for path, route in routing %}
                    <li><a href="{{ path }}"{% if route.title == title %} class="active"{% endif %}>{{ route.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
